# OpenClaw 酈廸闡\n.openclaw/openclaw.json
*.log
openclaw.json
*.bak
*.save
logs/
devices/
identity/
agents/
memory/
canvas/
completions/
cron/

# 城限用主它
.DS_Store
Thumbs.db

# 生有的的分
node_modules/
